*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.border{
    width: 400px;
    height: 838px;
    border: 1px solid #E7E6EB;
    margin-left: 450px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.51); 
box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.51);

}
.image{
 margin-bottom:10px;
 text-align: center;   
}

h1{
    margin-left: 40px;
}
h2{
    margin-top: 16px;
    margin-left: 40px;
}
p{
    margin: 8px 40px 0px 40px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
h6{
    margin: 24px 0px 0px 40px;
    font-size: 16px;
}
.color{
    color: #666666;
    font-size: 16px; 
}

.circle {
   display: flex;
   margin-left: 40px;
   margin-top: 16px;
}
.red{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    margin-right: 16px;
        
    
}
.blue{
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 16px;
}
.black{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}
.buttons{
    margin-top: 16px;
    margin-left: 40px;

}
.first{
    background-color: #FBBF23;
    width: 320px;
    height: 55px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: none;
    color: #333333;
    font-size: large;
    
}

.second{
    background-color: #FFFFFF;
    width: 320px;
    height: 55px;
    border-radius: 10px;
    border-color: #61A5FA;
    color: #333333;
    font-size: large;
}
a{
    font-size: 24px;
}
.link{
    margin-top: 32px;

}
.and{
    font-size: 16px;
    color: #61A5FA;

}

